# tri par type d'utilsation et ordre alphabetique

# --- Web API ---
fastapi==0.109.0
pydantic==2.5.3
uvicorn[standard]==0.27.0
watchfiles  # Nécessaire pour le mode --reload, cad refresh en direct

# --- Data Handling ---
numpy==1.26.3
pandas==2.2.0
pyarrow     # gestion efficace du CSV

# --- NLP & Embeddings ---
sentence-transformers==3.3.1
torch       # Moteur indispensable pour faire tourner le modèle BERT

# --- Optimization & Search ---
scikit-learn==1.4.0  # Indispensable pour la fonction cosine_similarity